.recipe {
	background-color: white;
	padding: 20px;
	margin: 10px;
}

.recipe-title {
	font-size: 1.5em;
	font-weight: bold;
  cursor: pointer;
}

.recipe-ingredients-title, .recipe-instructions-title {
  font-size: 1.25em;
  padding: 15px 0 10px 0;
  text-decoration: underline;
}

.recipe-ingredients, .recipe-instructions {
  padding: 0 0 0 10px;
}
