* {
  margin: 0;
}

.recipe {
  background-color: white;
	padding: 20px;
	margin: 10px;
  border-radius: .5em;
}

.recipe-title {
  text-align: center;
  font-size: 1.5em;
	font-weight: bold;
  cursor: pointer;
  transition: 200ms ease-out all;
}

.recipe-title:hover {
  color: #bdc3c7;
}

.recipe-ingredients-title, .recipe-instructions-title, .recipe-cooktime-title, .recipe-preptime-title{
  font-size: 1.25em;
  padding: 15px 0 10px 0;
  text-decoration: underline;
}

.recipe-ingredients, .recipe-instructions {
  padding: 0 0 0 10px;
}

.recipe-ingredients-item, .recipe-instructions-item {
  padding: 0 0 10px 0;
}
